{% extends "base.html" %}
{% block title %}Connect with Strava{% endblock %}
{% block content %}
<h3>Connect with Strava</h3>
<div class="row">
    <div class="col-sm-12">
        <p>
            Clicking on below button will authorize <i>tourmap</i> to access all your Strava data.
            This also means that anyone that knows about <i>tourmap</i> can see your activities here.
        </p>
        <p>
            Don't worry, that's next to no one.
        </p>
        <a href="{{ url_for("strava.authorize") }}">
            <img src="{{ url_for("static", filename="strava/btn_strava_connectwith_light.png")}}">
        </a>
    </div>
</div>
</div>
{% endblock %}
