{% extends "base.html" %}
{% block title %}Login with Strava{% endblock %}
{% block content %}
<h3>Login with Strava</h3>
<div class="row">
    <div class="col-sm-12">
        <p>
            Are you a Strava user?
        </p>
        <p>
            Clicking on below button will authorize <em>{{ config.APP_NAME }}</em> to access all your Strava data.
        <p>
            This also means that anyone that knows about <em>{{ config.APP_NAME }}</em> can see your activities here.
        </p>
        <p>
            But, don't worry - that's next to no one.
        </p>
        <a href="{{ url_for("strava.authorize", next=request.args.get("next")) }}">
            <img alt="Login with Strava" src="{{ url_for("static", filename="strava/btn_strava_connectwith_light.png")}}">
        </a>
    </div>
</div>
</div>
{% endblock %}
