DATABASE_URL = "sqlite:///tourmap.db"
STRAVA_CLIENT_ID = "YOUR STRAVA CLIENT ID"
STRAVA_CLIENT_SECRET  = "YOUR CLIENT SECRET"
MAPBOX_ACCESS_TOKEN = "YOUR MAPBOX ACCESS TOKEN"

# Change this!
HASHIDS_SALT = "DEVELOPMENT"
