{% extends "base.html" %}
{% block head %}
    {{ super() }}
    {% assets "map_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "map_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
{% endblock %}
{% block title %}{{ tour.name }} - by {{ user.firstname }}{% endblock %}
{% block content %}
<h3>{{ tour.name }} by {{ user.firstname }}</h3>
<div class="row">
  <div id="mappos" class="col-sm-12">
      <div id="mapid"></div>
  </div>
</div>
{% endblock %}
{% block after_body %}
  {{ super() }}
<script>
  // XXX: We put all data into the returned HTML. Alternative would
  //      be AJAX, I guess.

  var activities = {{ activities|tojson|safe }};
  var mapSettings = {{ map_settings|tojson|safe }};

  var mapState = mapStateMaker("mapid", activities, mapSettings, simplePopupForActivity);
  mapState.init();

  $(window).resize();
  setTimeout(mapState.fitBoundsSetMinZoom, 333);
</script>
{% endblock %}
