{% extends "base.html" %}
{% block head %}
    {{ super() }}
    {% assets "map_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "map_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
{% endblock %}
{% block title %}{{ tour.name }} - by {{ user.firstname }}{% endblock %}
{% block content %}
<h3>{{ tour.name }} by {{ user.firstname }}</h3>
<div class="row">
  <div id="mappos" class="col-sm-12">
      <div id="mapid"></div>
  </div>
</div>
    <script>
    // XXX: We put all data into the returned HTML. Alternative would
    //      be AJAX, I guess.
    var activities = {{ activities|tojson|safe }};
    var mapSettings = {{ map_settings|tojson|safe }};
    </script>


    <!-- this is where all the mess starts...
        XXX: move into a separate file!
    -->
    <script>
        var map = L.map('mapid');
        corner1 = L.latLng(mapSettings["bounds"]["corner1"]);
        corner2 = L.latLng(mapSettings["bounds"]["corner2"]);
        maxCorner1 = L.latLng(mapSettings["max_bounds"]["corner1"]);
        maxCorner2 = L.latLng(mapSettings["max_bounds"]["corner2"]);

        var initialLat = (corner1.lat + corner2.lat) / 2.0;
        var initialLng = (corner1.lng + corner2.lng) / 2.0;
        map.setMaxBounds([maxCorner1, maxCorner2]);
        // map.setView([initialLat, initialLng], 1, {animate: false});
        map.fitBounds([corner1, corner2], {maxZoom: null, animate: false});
        console.log("bounds=" + JSON.stringify([corner1, corner2]));


        var tileLayerSettings = mapSettings["tile_layer"];
        var tileLayerOptions = tileLayerSettings["options"];
        tileLayerOptions["maxZoom"] = tileLayerOptions["max_zoom"];
        delete tileLayerOptions["max_zoom"];
        console.log("tileLayerOptions " + JSON.stringify(tileLayerOptions));

        var tileLayer = L.tileLayer(tileLayerSettings["url_template"], tileLayerOptions)
        tileLayer.addTo(map);

        // Register resize event to update the map size when we need to.
        // This is pretty nasty and I only use it because I don't have
        // a clue what else to do...
        $(window).resize(function() {
            console.log("Resize fired!");
            var nav_height = $("#navigation").outerHeight(true); /* include margin */
            var map_pos = $("#mappos").position();
            window.map_pos = map_pos;
            // console.log("map_pos=" + map_pos + "map_pos.top=" + map_pos.top);
            var footer_height = $("#footer").outerHeight(true);

            var window_height = $(window).height();
            var new_height = Math.max(window_height - map_pos.top - footer_height - 20, 100);
            var old_height = map.getSize().y
             console.log("window_height=" + window_height  + " new_height=" + new_height + " old_height=" + old_height + " nav_height=" + nav_height + " footer_height=" + footer_height);
            if (new_height != old_height) {
                console.log("Updating height!");
                $("#mapid").height(new_height);
                map.invalidateSize();
            }
        });

        var polylineOptions = mapSettings["polyline"]["options"];
        for (let a of activities) {
            var latlngs = a["latlngs"];
            polyline = L.polyline(latlngs, polylineOptions);
            polyline.addTo(map);
        }


        /*
         * Create a popup element for every marker based on the activity.
         */
        function createPopupElementForActivity(a, photoColumns, photoFactor) {
            var maxImgWidth = 0;
            var popupRoot = document.createElement("div");
            $(popupRoot).addClass("activity-popup");
            var popupTitle = document.createElement("h5");
            $(popupTitle).text(a["name"])
            $(popupRoot).append(popupTitle);

            var popupDesc = document.createElement("div");
            $(popupDesc).text(a["date"])
            $(popupRoot).append(popupDesc);

            // Ugh, table...
            var imgTable = document.createElement("table");
            $(imgTable).addClass("photos-table");

            var imgTbody= document.createElement("tbody");
            $(imgTable).append(imgTbody);

            var imgTr = null;
            var i = 0;
            a["photos"].forEach(function(p) {
                if (i % photoColumns == 0) {
                    imgTr = document.createElement("tr");
                    $(imgTbody).append(imgTr);
                }
                var imgTd = document.createElement("td");
                $(imgTd).addClass("photo-table-cell");
                $(imgTr).append(imgTd)
                var img = document.createElement("img");
                $(imgTd).append(img);
                img.setAttribute("data-url", p["url"]);
                img.setAttribute("data-large-url", p["large"]["url"]);

                img.setAttribute("width", parseInt(p["width"] * photoFactor));
                img.setAttribute("height", parseInt(p["height"] * photoFactor));
                $(img).addClass("img-rounded")

                // Allow fullscreen
                $(img).click(function() {
                    var url = $(this).attr("data-large-url");
                    var width = $(this).attr("data-large-width");
                    var height = $(this).attr("data-large-height");
                    // console.log("Clicked image... url=" + url);
                    $("#fullscreen-img").attr("src", url);
                    $("#fullscreen-img").attr("width", width);
                    $("#fullscreen-img").attr("height", height);
                    console.log("Set fullscreen-img src, I think...");
                    $("#wholebody").fadeOut(function() {
                        $("#fullscreen").fadeIn();
                    });
                });

                maxImgWidth = Math.max(maxImgWidth, parseInt(p["width"] * photoFactor));
                i++;
            });


            $(popupRoot).append(imgTable);

            popupRoot.setAttribute("data-max-width", maxImgWidth * photoColumns);

            return popupRoot;
        }



        var markers = [];

        function placeMarkers(bounds) {
            if (markers.length > 0) {
                return;
            }
            for (let a of activities) {
                var latlngs = a["latlngs"];
                marker = L.marker(latlngs[latlngs.length - 1]);
                markers.push(marker);

                // Ugly hack to downsize the photos and popups on small screens.
                if ($(window).width() > 600) {
                    var photoColumns = 2;
                    var photoFactor = 1.0;
                } else {
                    var photoColumns = 2;
                    var photoFactor = 0.5;
                }


                var content = createPopupElementForActivity(a, photoColumns, photoFactor);
                var popupWidth = content.getAttribute("data-max-width");
                var popup = L.popup({minWidth: 300, maxWidth: "auto"});
                popup.setContent(content);
                marker.bindPopup(popup);
                marker.addTo(map);
            }
        };

        function dropMarkers() {
            markers.forEach(function(m) {
                map.removeLayer(m);
            });
            markers.length = 0;
        }

        function toggleMarkers() {
            var level = map.getZoom();
            var bounds = map.getBounds();
            if (level >= 6) {
                placeMarkers();
            } else {
                dropMarkers();
            }
        }

        /* Register zoomed handler for the markers*/
        map.on('zoomend', function() {
            toggleMarkers();
        });

        /*
         * On demand loading of images inside the popup. If we were
         * to create the <img> tags inside the popups from the beginning,
         * the browswer will fetch'em all, even if the popup is not open.
         */
        map.on('popupopen', function(e) {
            window.popupopenE = e.popup;
            $(e.popup.getContent()).find('img:not([src])').each(function() {
                $(this).attr("src", $(this).attr("data-url"));
            });
        });

        $("#fullscreen").click(function () {
            $(this).fadeOut(function() {
              $("#fullscreen-img").attr("src", "");
              $("#wholebody").fadeIn();
            });
        });
    </script>
{% endblock %}
{% block after_body %}
    {{ super() }}
    <script>
        $(window).resize();

        function fitZoomEnd() {
            console.log("fitZoomEnd");
            map.off("zoomend", fitZoomEnd);
            var fittedZoomLevel = map.getZoom();
            console.log("Setting minimum zoom to " + fittedZoomLevel);
            map.setMinZoom(fittedZoomLevel);
        }
        map.on('zoomend', fitZoomEnd)

        setTimeout(function() {
            console.log("fitting bounds! " + corner1 + " " + corner2);
            map.fitBounds([corner1, corner2], {maxZoom: null, animate: false});
        }, 300);
    </script>
{% endblock %}
