{# Macro creating a table of activities #}
{% macro table_activities_summary(activities, truncate_name_len=32) -%}
<table class="activities-table table table-striped table-condensed">
    <thead>
        <tr>
        <td>Date</td>
        <td>Name</td>
        </tr>
    </thead>
    <tbody>
        {% for a in activities %}
            <tr>
                <td>{{ a.start_date_local.date().isoformat() }}</td>
                <td>{{ a.name | truncate(truncate_name_len) }}</td>
            </tr>
        {% endfor %}
        </tbody>
</table>
{%- endmacro %}


{#
 # Macro creating a table of activities with a ton of details...
 #}
{% macro table_activities_detail(activities, truncate_name_len=255) -%}
<table class="table table-striped table-condensed activities-table">
    <thead>
        <tr>
        <th>Date</th>
        <th>Type</th>
        <th>Name</th>
        <th>Distance</th>
        <th>Elevation Gain</th>
        <th>Moving Time</th>
        <th>Elapsed Time</th>
        <th>Average Temperature</th>
        <th>View on Strava</th>
        </tr>
    </thead>
    <tbody>
        {% for a in activities %}
            <tr>
                <td>{{ a.start_date_local.date().isoformat() }}</td>
                <td>{{ a.type }}</td>
                <td>{{ a.name | truncate(truncate_name_len) }}</td>
                <td>{{ a.distance_str }}</td>
                <td>{{ a.elevation_gain_str }}</td>
                <td>{{ a.moving_time_str }}</td>
                <td>{{ a.elapsed_time_str }}</td>
                <td>{{ a.average_temp_str }}</td>
                <td><a href="{{ a.strava_link }}" target="_blank">{{ a.strava_id }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
</table>
{%- endmacro %}



{# Table of tours... #}
{% macro table_tours(tours, for_user=False) -%}
<table class="tours-table table table-striped table-condensed">
    <thead>
        {% if not for_user -%}
        <th>User</th>
        {% endif -%}
        <th>Name</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>
        {% if for_user -%}
        <th>Operations</th>
        {% endif -%}

    </thead>
    <tbody>
        {% for t in tours %}
        <tr>
          {% if not for_user -%}
          {% set user_link = url_for("users.user", user_hashid=t.user.hashid) -%}
          <td><a href="{{ user_link }}">{{ t.user.name_str }}</a></td>
          {% endif %}
          {% set tour_link = url_for("user_tours.tour", user_hashid=t.user.hashid, tour_hashid=t.hashid) -%}
          <td><a href="{{ tour_link }}">{{ t.name }}</a></td>
          <td>{{ t.description or "" }}</td>
          <td>{{ t.start_date_str }}</td>
          <td>{{ t.end_date_str }}</td>
          {% if for_user -%}
          {% set del_link = url_for("user_tours.delete", user_hashid=t.user.hashid, tour_hashid=t.hashid) -%}
          <td>
            <form method="POST" action="{{ del_link }}">
              <button type="submit" onclick="return confirm('Sure?')" class="btn btn-warning">
                Delete
              </button>
            </form>
          </td>
          {% endif -%}
        </tr>
        {% endfor %}
    </tbody>
</table>
{%- endmacro %}
