<!doctype html>
<html>
    <head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% assets "css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
    {% assets "base_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% endblock head %}

    <title>{% block title %}{% endblock %}</title>
    </head>
    <body>

    <div id="content" class="container-fluid">
        <div id="navigation" class="navbar lavender">
            <div class="row">
                <div class="col-sm-4">NAVBAR</div>
            </div>
        </div>
        {% block content %}
        {% endblock %}
        <div id="footer" class="footer navbar-fixed-bottom lavender">
            <div class="row">
                <div class="col-sm-4 ">FOOTER</div>
            </div>
        </div>
    </div>
    </body>
    {% block after_body %}
    {% endblock %}
</html>
