{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<h3>Home</h3>
<div class="row">
  <div class="col-sm-12">
    <p>Hey there!</p>
    <p>
      This is <em>{{ config.APP_NAME }}</em> - something that was built
      to show off how far I have cycled.
    </p>
    <p>
      It puts all Strava activities of a given time frame onto a single map.
    </p>
    {% if example_tour -%}
    {% set map_link = url_for("user_tours.tour",
                              user_hashid=example_tour.user.hashid,
                              tour_hashid=example_tour.hashid) -%}
    <p>
      Click <a href="{{ map_link }}">here</a> to see an example.
    </p>
    {% endif -%}
  </div>
</div>
{% endblock %}
