{# Macro creating a table of activities #}
{% macro table_activities(activities) -%}
<table class="table table-striped table-condensed">
    <thead>
        <tr>
        <td>Date</td>
        <td>Distance</td>
        <td>Moving Time</td>
        <td>Elapsed Time</td>
        <td>Name</td>
        </tr>
    </thead>
    <tbody>
        {% for a in activities %}
            <tr>
                <td class="table-cell-date">{{ a.start_date_local.date().isoformat() }}</td>
                <td>{{ a.distance }}</td>
                <td>{{ a.moving_time }}</td>
                <td>{{ a.elapsed_time }}</td>
                <td>{{ a.name | truncate(64) }}</td>
            </tr>
        {% endfor %}
        </tbody>
</table>
{%- endmacro %}


{% macro table_tours(user, tours) -%}
<table class="table table-striped table-condensed">
    <thead>
        <td>Name</td>
        <td>Description</td>
        <td>Start</td>
        <td>End</td>
    </thead>
    <tbody>
        {% for t in tours %}
        <tr>
            {% set link = url_for(".user_tour", user_hashid=user.hashid, tour_hashid=t.hashid) %}
            <td><a href="{{ link }}">{{ t.name }}</a></td>
            <td>{{ t.description or "" }}</td>
            <td>{{ t.filter_start_date or ""}}</td>
            <td>{{ t.filter_end_date or ""}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%- endmacro %}
