{% extends "base.html" %}
{% block title %}All Users{% endblock %}
{% block content -%}
<h3>All Users</h3>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>View on Strava</th>
                </tr>
            </thead>
            <tbody>
                {% for u in users -%}
                <tr>
                    {% set link = url_for(".user", user_hashid=u.hashid) -%}
                    <td><a href="{{ link }}">{{ u.name_str or u.hashid }}</a></td>
                    <td><a href="{{ u.strava_link }}" target="_blank">{{ u.strava_id }}</a></td>
                </tr>
                {%- endfor %}
            </tbody>
        </table>
    </div>
</div>
{%- endblock %}
