{% extends "base.html" %}
{% from '_widgets.html' import table_tours, table_activities_summary %}
{% block title %}{{ user.firstname }}{% endblock title %}
{% block content %}
<div class="row">
    <div class="col-sm-4">
        <h3>{{ user.firstname }}</h3>
    </div>
</div>
{% if user == current_user -%}
<div class="row">
    <div class="col-sm-4">
        <a href="{{ url_for("users.new_tour", user_hashid=user.hashid) }}" class="btn btn-default">Add a new tour</a>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-sm-6">
        <h4>Tours</h4>
        {{ table_tours(tours, include_user_names=False) }}
    </div>
    <div class="col-sm-6">
        <h4>{{ recent_activities | length }} Most Recent Activities</h4>
        <div>
            {{ table_activities_summary(recent_activities) }}
        </div>
        <h4><a href="{{ url_for(".user_activities", hashid=user.hashid) }}">See all...</a></h4>
    </div>
</div>
{% endblock %}
