{% extends "base.html" %}
{% from '_widgets.html' import table_tours, table_activities_summary %}
{% block title %}{{ user.firstname }}{% endblock title %}
{% block content %}
<div class="row">
  <div class="col-sm-4">
    <h3>{{ user.firstname }}</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <h4>Tours</h4>
    <div>
      {{ table_tours(tours, for_user=current_user == user) }}
    </div>
    {% if user == current_user -%}
    {% set new_link = url_for("user_tours.new_tour", user_hashid=user.hashid) %}
    <a href="{{ new_link }}" class="btn btn-default">New Tour</a>
    {% endif %}
  </div>
  <div class="col-sm-6">
    <h4>{{ recent_activities | length }} Most Recent Activities</h4>
    <div>
      {{ table_activities_summary(recent_activities) }}
    </div>
    <h4><a href="{{ url_for(".user_activities", user_hashid=user.hashid) }}">See all...</a></h4>
  </div>
</div>
{% endblock %}
