/* For navbar to work properly... */
body {
  padding-top: 60px;
  min-height: 1000px;
}

h3 {
    margin-top: 10px;
    font-size: 20px;
}

.jumbotron {
    padding-top: 5px;
}

.photos-table {
  text-align: center;
  vertical-align: center;
  /* border: 3px solid red; */
}

.photo-table-cell {
  padding: 1px;
  /* border: 2px solid green */
}

.tours-table {
  table-layout: fixed;
  /* border: 3px solid red; */
}

.tours-table>tbody>tr>td {
  vertical-align: middle;
}

.activities-table {
  table-layout: fixed;
  /* border: 3px solid red; */
}

table.activities-table>tbody>tr>td {
  vertical-align: middle;
  /* border: 1px solid red; */
}

#fullscreen-container {
  width: 98vw;
  height: 98vh;
  position: absolute;
  margin: auto;
  display: none;
  left:0; top:0; right:0; bottom:0;
}

#fullscreen-img {
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}
