/* For navbar to work properly... */
body {
  padding-top: 70px;
  /* min-height: 2000px; */
}

.photos-table {
  text-align: center;
  vertical-align: center;
  /* border: 3px solid red; */
}

.photo-table-cell {
  padding: 1px;
  /* border: 2px solid green */
}

.activities-table {
  table-layout: fixed;
  /* border: 3px solid red; */
}
table.activities-table>tbody>tr>td {
  table-layout: fixed;
  vertical-align: middle;
  /* border: 1px solid red; */
}
