#navigation {
    margin-bottom: 20px;
}

img {
  max-width: none;
}

.activity-popup {
  /* border: 3px solid blue */
}

.photos-table {
  text-align: center;
  vertical-align: center;
  width: 100%;
  /* border: 3px solid red; */
}

.photo-table-cell {
  padding: 5px;
  /* border: 2px solid green */
}
